<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Päivitä Mittauspaikka</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">Pävitiä Mittauspaikka</h1>
      <form
        th:action="@{/mittauspaikka}"
        th:object="${mittausPaikka}"
        method="post"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
          <label for="paikkatunniste">Paikkatunniste:</label>
          <input
            type="text"
            class="form-control"
            id="paikkatunniste"
            th:field="*{paikkatunniste}"
            required
          />
        </div>
        <div class="form-group">
          <label for="osoite">Osoite:</label>
          <input
            type="text"
            class="form-control"
            id="osoite"
            th:field="*{osoite}"
            required
          />
        </div>
        <div class="form-group">
          <label for="postinumero">Postinumero:</label>
          <input
            type="text"
            class="form-control"
            id="postinumero"
            th:field="*{postinumero}"
            required
          />
        </div>
        <div class="form-group">
          <label for="kaupunki">Kaupunki:</label>
          <input
            type="text"
            class="form-control"
            id="kaupunki"
            th:field="*{kaupunki}"
            required
          />
        </div>
        <div class="form-group">
          <label for="leveysaste">Leveysaste:</label>
          <input
            type="text"
            class="form-control"
            id="leveysaste"
            th:field="*{leveysaste}"
            required
          />
        </div>
        <div class="form-group">
          <label for="pituusaste">Pituusaste:</label>
          <input
            type="text"
            class="form-control"
            id="pituusaste"
            th:field="*{pituusaste}"
            required
          />
        </div>
        <div class="form-group">
          <label for="mittausyksikko">Mittausyksikko:</label>
          <input
            type="text"
            class="form-control"
            id="mittausyksikko"
            th:field="*{mittausyksikko}"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Päivitä</button>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
